.tabs{
	margin-bottom: 9px;
}

.tabs li { 
  /* Делаем горизонтальную строку */
	display:inline;
}

.tabs a { 
  /* Делаем его блочным и такой ширины, какая ему требуется */
 
  padding: 10px 2%; 
  text-decoration: none;
  
  /* Цвета по умолчанию */ 
  color: black;
  background: #6495ED; 
  
  /* Скругляем только верхние углы */
  -webkit-border-top-left-radius: 15px;
  -webkit-border-top-right-radius: 15px;
  -moz-border-radius-topleft: 15px;
  -moz-border-radius-topright: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px; 
}
.tabs .active {
  /* Активная закладка находится сверху */
  z-index: 3;
}
.tabs .active a { 
  /* Цвета активной закладки */
  background: white; 
  color: black; 
}

ul.tabs li a:hover {
 background-color:#87CEFA;
 border-color:#87CEFA;
}