
.contentarea{
	background-color:#ffffff;
}

.searchline{
	padding-right: 50%; 
	margin: 5px 5px 5px 5px;
	border: 1px solid black;
}

.checkboxgroup{
	display:inline-block; 
	vertical-align: top;
	width: 15%;
	margin: 8px;
    border: 1px solid silver;
    padding: 8px;    
    border-radius: 4px;
}

.legend {
    padding: 2px;
    margin-bottom: 2px;    
}